<% layout('layouts/boilerplate') %>

<div class="container w-50">
  <h1>Tambah Subject Baru</h1>
  <form action="/admin/subjects" method="POST">
    <div class="mb-3">
      <label>Kode Subject</label>
      <input type="text" name="subject[code]" class="form-control" required />
    </div>
    <div class="mb-3">
      <label>Nama Subject</label>
      <input type="text" name="subject[name]" class="form-control" required />
    </div>
    <button class="btn btn-success">Simpan</button>
    <a href="/admin/subjects" class="btn btn-danger">Batal</a>
  </form>
</div>
